In [5]:
import pandas as pd 

df = pd.read_csv("./data/teleco.csv")

In [7]:
df.corr(numeric_only=True)

                SeniorCitizen    tenure  MonthlyCharges
SeniorCitizen        1.000000  0.016567        0.220173
tenure               0.016567  1.000000        0.247900
MonthlyCharges       0.220173  0.247900        1.000000